<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/editPassword.css' %}">
    <title>Zmiana Hasła</title>
</head>
<body>
    <div class="naglowek">
        <h1>Łączy nas gwizdek</h1>
        <h2 class="h2">{{ user.first_name }} {{ user.last_name }}</h2>
        <a class="link" href="{% url 'messages' %}"><i class="fas fa-envelope"></i><span class="messages">Wiadomości</span></a>
        <a class="link" href="{% url 'login' %}"><i class="fas fa-sign-out-alt"></i><span class="messages">Wyloguj się</span></a>
        <div class="dropdown">
            <a class="link" href="#">
                <i class="fas fa-cog"></i>
                <i class="fas fa-chevron-down fa-xs"></i>
            </a>
        </div>
        <div class="dropdown-content">
            <a href="#">Edytuj dane</a>
            <a class="option2" href="#">Zmień hasło</a>
        </div>
    </div>
    <h1 class="edit">Zmień swoje hasło</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li style="color: red !important;">{% if message.tags %} {% endif %}{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="buttons">
                <button class="back-button" onclick="event.preventDefault(); window.location.href='{% url 'logged' %}';">Wróć</button>
                <button class="back-button" type="submit">Zmień hasło</button>
            </div>
        </form>
    </div>

</body>
</html>

