{% extends '__base__.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/editPassword.css' %}">
{% endblock %}
{% block content %}
    <h1 class="edit">Zmień swoje hasło</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li style="color: red !important;">{% if message.tags %} {% endif %}{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="buttons">
                <button class="back-button" onclick="event.preventDefault(); window.location.href='{% url 'logged' %}';">Wróć</button>
                <button class="back-button" type="submit">Zmień hasło</button>
            </div>
        </form>
    </div>

</body>
</html>
{% endblock %}
